Repository woowacourse-teams/2025-moitz, pull requests merged in 2025-08, with the labels that each got.

#107 [FE] chore: PR이 머지되면 이슈가 닫히도록 설정
  .github/workflows/auto-close-issues.yml
Labels: 🧹 chore

#109 [FE] chore: PR이 머지되면 이슈가 닫히도록 설정
  .github/workflows/auto-close-issues.yml
Labels: 🧹 chore

#116 [FE] chore: PR이 머지되면 이슈가 닫히도록 설정
  .github/workflows/auto-close-issues.yml
Labels: 🧹 chore

#120 [FE] chore: import 별칭에 mock 추가
  frontend/.storybook/main.ts
  frontend/eslint.config.mjs
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/shared/components/startingSpotName/startingSpotName.stories.ts
  frontend/src/shared/components/startingSpotWrapper/startingSpotWrapper.stories.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: FE, 🧹 chore

#96 [FE] feat: IndexPage 퍼블리싱
  frontend/assets/icon/icon-toast.svg
  frontend/src/features/meeting/components/conditionCard/ConditionCard.tsx
  frontend/src/features/meeting/components/conditionCard/conditionCard.stories.ts
  frontend/src/features/meeting/components/conditionCard/conditionCard.styled.ts
  frontend/src/features/meeting/components/conditionSelector/ConditionSelector.tsx
  frontend/src/features/meeting/components/conditionSelector/conditionSelector.stories.ts
  frontend/src/features/meeting/components/conditionSelector/conditionSelector.styled.ts
  frontend/src/features/meeting/components/departureInput/DepartureInput.tsx
  frontend/src/features/meeting/components/departureInput/departureInput.stories.ts
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/meeting/components/meetingForm/meetingForm.styled.ts
  frontend/src/features/meeting/components/meetingFormSection/MeetingFormSection.tsx
  frontend/src/features/meeting/components/meetingFormSection/meetingFormSection.styled.ts
  frontend/src/features/meeting/config/stationList.ts
  frontend/src/features/meeting/constant/conditionCard.ts
  frontend/src/features/meeting/constant/inputForm.ts
  frontend/src/features/meeting/hooks/useFormInfo.ts
  frontend/src/features/meeting/utils/formValidation.ts
  frontend/src/features/toast/components/Toast.tsx
  frontend/src/features/toast/components/toast.styled.ts
  frontend/src/features/toast/hooks/useToast.ts
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/indexPage/indexPage.styled.ts
  frontend/src/shared/components/bottomButton/BottomButton.tsx
  frontend/src/shared/components/bottomButton/bottomButton.stories.ts
  frontend/src/shared/components/headerLogo/HeaderLogo.tsx
  frontend/src/shared/components/headerLogo/headerLogo.stories.ts
  frontend/src/shared/components/headerLogo/headerLogo.styled.ts
  frontend/src/shared/components/input/Input.tsx
  frontend/src/shared/components/input/input.stories.ts
  frontend/src/shared/components/input/input.styled.ts
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/logo/logo.stories.ts
  frontend/src/shared/components/tag/Tag.tsx
  frontend/src/shared/components/tag/tag.stories.ts
  frontend/src/shared/components/tag/tag.styled.ts
  frontend/src/shared/components/textarea/Textarea.tsx
  frontend/src/shared/components/textarea/textarea.stories.ts
  frontend/src/shared/styles/default.styled.ts
  frontend/src/shared/types/validationError.ts
Labels: ✅ feat, FE

#128 [FE] feat: 웹사이트 파비콘 및 타이틀 설정
  frontend/index.html
Labels: FE, 💅 style

#118 [FE] style: 반응형 레이아웃 수정
  frontend/src/shared/components/layout/layout.styled.ts
Labels: FE, 💅 style

#130 [FE] IndexPage 퍼블리싱
  frontend/assets/icon/icon-toast.svg
  frontend/src/features/meeting/components/conditionCard/ConditionCard.tsx
  frontend/src/features/meeting/components/conditionCard/conditionCard.stories.ts
  frontend/src/features/meeting/components/conditionCard/conditionCard.styled.ts
  frontend/src/features/meeting/components/conditionSelector/ConditionSelector.tsx
  frontend/src/features/meeting/components/conditionSelector/conditionSelector.stories.ts
  frontend/src/features/meeting/components/conditionSelector/conditionSelector.styled.ts
  frontend/src/features/meeting/components/departureInput/DepartureInput.tsx
  frontend/src/features/meeting/components/departureInput/departureInput.stories.ts
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/meeting/components/meetingForm/meetingForm.styled.ts
  frontend/src/features/meeting/components/meetingFormSection/MeetingFormSection.tsx
  frontend/src/features/meeting/components/meetingFormSection/meetingFormSection.styled.ts
  frontend/src/features/meeting/config/stationList.ts
  frontend/src/features/meeting/constant/conditionCard.ts
  frontend/src/features/meeting/constant/inputForm.ts
  frontend/src/features/meeting/hooks/useFormInfo.ts
  frontend/src/features/meeting/utils/formValidation.ts
  frontend/src/features/toast/components/Toast.tsx
  frontend/src/features/toast/components/toast.styled.ts
  frontend/src/features/toast/hooks/useToast.ts
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/indexPage/indexPage.styled.ts
  frontend/src/shared/components/bottomButton/BottomButton.tsx
  frontend/src/shared/components/bottomButton/bottomButton.stories.ts
  frontend/src/shared/components/headerLogo/HeaderLogo.tsx
  frontend/src/shared/components/headerLogo/headerLogo.stories.ts
  frontend/src/shared/components/headerLogo/headerLogo.styled.ts
  frontend/src/shared/components/input/Input.tsx
  frontend/src/shared/components/input/input.stories.ts
  frontend/src/shared/components/input/input.styled.ts
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/logo/logo.stories.ts
  frontend/src/shared/components/tag/Tag.tsx
  frontend/src/shared/components/tag/tag.stories.ts
  frontend/src/shared/components/tag/tag.styled.ts
  frontend/src/shared/components/textarea/Textarea.tsx
  frontend/src/shared/components/textarea/textarea.stories.ts
  frontend/src/shared/styles/default.styled.ts
  frontend/src/shared/types/validationError.ts
Labels: ✅ feat, FE

#124 [BE] refactor: 외부 API 사용 로직 분리 및 서비스 구조 개선
  backend/build.gradle
  backend/src/main/java/com/f12/moitz/application/LocationCalculator.java
  backend/src/main/java/com/f12/moitz/application/LocationService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/dto/PathResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/PlaceRecommendResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationRequest.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RouteResponse.java
  backend/src/main/java/com/f12/moitz/application/port/LocationRecommender.java
  backend/src/main/java/com/f12/moitz/application/port/PlaceRecommender.java
  backend/src/main/java/com/f12/moitz/application/port/RouteFinder.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/common/config/SwaggerConfig.java
  backend/src/main/java/com/f12/moitz/common/config/WebMvcConfig.java
  backend/src/main/java/com/f12/moitz/common/error/ErrorResponse.java
  backend/src/main/java/com/f12/moitz/common/error/GlobalExceptionHandler.java
  backend/src/main/java/com/f12/moitz/common/error/exception/BadRequestException.java
  backend/src/main/java/com/f12/moitz/common/error/exception/ErrorCode.java
  backend/src/main/java/com/f12/moitz/common/error/exception/ExternalApiErrorCode.java
  backend/src/main/java/com/f12/moitz/common/error/exception/ExternalApiException.java
  backend/src/main/java/com/f12/moitz/common/error/exception/GeneralErrorCode.java
  backend/src/main/java/com/f12/moitz/domain/Candidate.java
  backend/src/main/java/com/f12/moitz/domain/Path.java
  backend/src/main/java/com/f12/moitz/domain/Recommendation.java
  backend/src/main/java/com/f12/moitz/domain/RecommendedPlace.java
  backend/src/main/java/com/f12/moitz/domain/Route.java
  backend/src/main/java/com/f12/moitz/domain/Routes.java
  backend/src/main/java/com/f12/moitz/domain/TravelMethod.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/LocationRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/PlaceRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/RouteFinderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GeminiRecommendPlaceClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/BriefRecommendedLocationResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendationPlaceResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendedLocationResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendedPlaceResponses.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/KakaoMapClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/dto/KakaoApiResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/dto/SearchPlacesRequest.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/OdsayClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/SubwayCode.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/InfoResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/LaneResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/OdsayErrorResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/OdsayRouteSearchResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/PathResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/ResultResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/SubPathResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/SubwayRouteSearchResponse.java
  backend/src/main/java/com/f12/moitz/ui/LocationController.java
  backend/src/main/java/com/f12/moitz/ui/SwaggerLocationController.java
  backend/src/test/java/com/f12/moitz/GeminiRecommendedPlaceClientTest.java
Labels: ✅ feat, BE

#144 [BE] refactor: Gemini 함수 호출 로직 리팩터링
  backend/.gitignore
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/port/LocationRecommender.java
  backend/src/main/java/com/f12/moitz/application/port/Recommender.java
  backend/src/main/java/com/f12/moitz/infrastructure/PromptGenerator.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/GeminiRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/LocationRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/PlaceRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GeminiFunctionCaller.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GeminiRecommendPlaceClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendedPlaceResponses.java
  backend/src/test/java/com/f12/moitz/GeminiFunctionCallerTest.java
  backend/src/test/java/com/f12/moitz/GeminiRecommendedPlaceClientTest.java
Labels: ⚒️ refactor, BE

#135 [FE] chore: 모니터링 설정
  frontend/.storybook/main.js
  frontend/.vscode/settings.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/config/gtag.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: FE, 🧹 chore

#148 [BE] feat: 추천 장소 결과 API 응답 형식 수정
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/dto/PathResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/PlaceRecommendResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationRequest.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationsResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RouteResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/StartingPlaceResponse.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/domain/Candidate.java
  backend/src/main/java/com/f12/moitz/domain/Place.java
  backend/src/main/java/com/f12/moitz/domain/RecommendCondition.java
  backend/src/main/java/com/f12/moitz/ui/LocationController.java
  backend/src/main/java/com/f12/moitz/ui/SwaggerLocationController.java
  backend/src/test/java/com/f12/moitz/GeminiFunctionCallerTest.java
  backend/src/test/java/com/f12/moitz/domain/CandidateTest.java
  backend/src/test/java/com/f12/moitz/domain/PathTest.java
  backend/src/test/java/com/f12/moitz/domain/PlaceTest.java
  backend/src/test/java/com/f12/moitz/domain/PointTest.java
  backend/src/test/java/com/f12/moitz/domain/RecommendConditionTest.java
  backend/src/test/java/com/f12/moitz/domain/RecommendationTest.java
  backend/src/test/java/com/f12/moitz/domain/RecommendedPlaceTest.java
  backend/src/test/java/com/f12/moitz/domain/RouteTest.java
  backend/src/test/java/com/f12/moitz/domain/RoutesTest.java
Labels: BE

#138 [FE] feat: 바텀시트 상세보기 (route section 제외) 퍼블리싱
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.styled.ts
  frontend/src/features/recommendation/components/detail/Detail.tsx
  frontend/src/features/recommendation/components/detail/detail.styled.tsx
  frontend/src/features/recommendation/components/detailSection/DetailSection.tsx
  frontend/src/features/recommendation/components/detailSection/detailSection.styled.ts
  frontend/src/features/recommendation/components/list/List.tsx
  frontend/src/features/recommendation/components/placeCard/PlaceCard.tsx
  frontend/src/features/recommendation/components/placeCard/placeCard.stories.ts
  frontend/src/features/recommendation/components/placeCard/placeCard.styled.ts
  frontend/src/features/recommendation/components/spotItemList/SpotItemList.tsx
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/features/recommendation/components/spotItemList/spotItemList.styled.ts
  frontend/src/mocks/recommendedLocationsMock.ts
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/indexPage/indexPage.styled.ts
  frontend/src/shared/components/spotItem/SpotItem.tsx
  frontend/src/shared/components/spotItem/spotItem.stories.ts
  frontend/src/shared/components/spotItem/spotItem.styled.ts
  frontend/src/shared/styles/default.styled.ts
  frontend/src/shared/styles/tokens.css
  frontend/src/shared/styles/tokens.ts
  frontend/src/shared/types/recommendedLocation.ts
Labels: ✅ feat, FE

#153 feat: [공통 컴포넌트] 마커 인덱스 컴포넌트를 피그마 수정에 맞게 props 추가
  frontend/src/shared/components/markerIndex/MarkerIndex.tsx
  frontend/src/shared/components/markerIndex/markerIndex.stories.tsx
  frontend/src/shared/components/markerIndex/markerIndex.styled.ts
  frontend/src/shared/components/spotItem/SpotItem.tsx
Labels: ✅ feat, FE

#145 [FE] chore: 에러 트래킹 환경 구축
  frontend/main.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: FE, 🧹 chore

#121 [FE] locations 데이터를 fetch하는 작업
  frontend/.storybook/decorators/withContainer.tsx
  frontend/.storybook/main.js
  frontend/.storybook/preview.ts
  frontend/eslint.config.mjs
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entities/apis/fetchLocations.ts
  frontend/src/entities/hooks/useLocations.test.tsx
  frontend/src/entities/hooks/useLocations.ts
  frontend/src/entities/types/Location.ts
  frontend/src/entities/types/LocationRequestBody.ts
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/meeting/components/conditionCard/ConditionCard.tsx
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/meeting/components/meetingFormSection/MeetingFormSection.tsx
  frontend/src/features/meeting/hooks/useFormInfo.ts
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/spotItemList/SpotItemList.tsx
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/features/toast/components/Toast.tsx
  frontend/src/features/toast/hooks/useToast.ts
  frontend/src/jest.polyfill.ts
  frontend/src/mocks/LocationsMock.ts
  frontend/src/mocks/LocationsRequestBodyMock.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/recommendedLocationsMock.ts
  frontend/src/mocks/server.ts
  frontend/src/mocks/startingLocationsMock.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/setupTests.ts
  frontend/src/shared/components/headerLogo/HeaderLogo.tsx
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/spotItem/SpotItem.tsx
  frontend/src/shared/components/startingSpotName/StartingSpotName.tsx
  frontend/src/shared/components/startingSpotName/startingSpotName.stories.ts
  frontend/src/shared/components/startingSpotWrapper/StartingSpotWrapper.tsx
  frontend/src/shared/components/startingSpotWrapper/startingSpotWrapper.stories.ts
  frontend/src/shared/types/recommendedLocation.ts
  frontend/src/shared/types/startingLocation.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: ✅ feat, FE

#154 feat: Location 데이터 fetch 작업
  frontend/.storybook/decorators/withContainer.tsx
  frontend/.storybook/main.js
  frontend/.storybook/preview.ts
  frontend/eslint.config.mjs
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/entities/apis/fetchLocations.ts
  frontend/src/entities/hooks/useLocations.test.tsx
  frontend/src/entities/hooks/useLocations.ts
  frontend/src/entities/types/Location.ts
  frontend/src/entities/types/LocationRequestBody.ts
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/meeting/components/conditionCard/ConditionCard.tsx
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/meeting/components/meetingFormSection/MeetingFormSection.tsx
  frontend/src/features/meeting/hooks/useFormInfo.ts
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/spotItemList/SpotItemList.tsx
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/features/toast/components/Toast.tsx
  frontend/src/features/toast/hooks/useToast.ts
  frontend/src/jest.polyfill.ts
  frontend/src/mocks/LocationsMock.ts
  frontend/src/mocks/LocationsRequestBodyMock.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/recommendedLocationsMock.ts
  frontend/src/mocks/server.ts
  frontend/src/mocks/startingLocationsMock.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/setupTests.ts
  frontend/src/shared/components/headerLogo/HeaderLogo.tsx
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/spotItem/SpotItem.tsx
  frontend/src/shared/components/startingSpotName/StartingSpotName.tsx
  frontend/src/shared/components/startingSpotName/startingSpotName.stories.ts
  frontend/src/shared/components/startingSpotWrapper/StartingSpotWrapper.tsx
  frontend/src/shared/components/startingSpotWrapper/startingSpotWrapper.stories.ts
  frontend/src/shared/types/recommendedLocation.ts
  frontend/src/shared/types/startingLocation.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: ✅ feat, FE

#159 [BE] feat: Retry 일부 구현, 에러코드 Swagger 문서화 , 테스트 구현
  backend/build.gradle
  backend/src/main/java/com/f12/moitz/MoitzApplication.java
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/port/Recommender.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/common/config/ClientConfig.java
  backend/src/main/java/com/f12/moitz/common/config/SwaggerConfig.java
  backend/src/main/java/com/f12/moitz/common/error/GlobalExceptionHandler.java
  backend/src/main/java/com/f12/moitz/common/error/exception/ExternalApiErrorCode.java
  backend/src/main/java/com/f12/moitz/common/error/exception/GeneralErrorCode.java
  backend/src/main/java/com/f12/moitz/common/error/exception/RetryableApiException.java
  backend/src/main/java/com/f12/moitz/domain/Routes.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/GeminiRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gpt/GptClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/KakaoMapClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/dto/KakaoApiResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/OdsayClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/SubwayCode.java
  backend/src/main/java/com/f12/moitz/ui/LocationController.java
  backend/src/main/java/com/f12/moitz/ui/SwaggerLocationController.java
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback-variable.properties
  backend/src/test/java/com/f12/moitz/application/RecommendationServiceTest.java
  backend/src/test/java/com/f12/moitz/domain/RoutesTest.java
  backend/src/test/java/com/f12/moitz/infrastructure/adapter/RouteFinderAdapterTest.java
  backend/src/test/java/com/f12/moitz/infrastructure/kakao/KakaoMapClientTest.java
  backend/src/test/java/com/f12/moitz/infrastructure/odsay/OdsayClientTest.java
Labels: ✅ feat, BE

#166 [FE] feat: [map] 출발지와 만날 지역리스트를 핀으로 띄운다
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/map/hooks/useCustomOverlays.tsx
  frontend/src/features/map/lib/CustomOverlay.ts
  frontend/src/mocks/LocationsMock.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/shared/components/markerIndex/MarkerIndex.tsx
  frontend/src/shared/components/markerIndex/markerIndex.stories.tsx
  frontend/src/shared/components/markerIndex/markerIndex.styled.ts
  frontend/src/shared/components/spotItem/SpotItem.tsx
  frontend/src/shared/styles/default.styled.ts
  frontend/src/shared/styles/tokens.css
  frontend/src/shared/styles/tokens.ts
  frontend/src/types/global.d.ts
Labels: ✅ feat, FE

#164 [FE] feat: indexPage 출발지 입력시 드롭다운 구현
  frontend/src/features/meeting/components/departureInput/DepartureInput.tsx
  frontend/src/features/meeting/components/departureInput/departureInput.styled.ts
  frontend/src/features/meeting/components/dropdown/Dropdown.tsx
  frontend/src/features/meeting/components/dropdown/dropdown.styled.ts
  frontend/src/features/meeting/components/dropdown/dropdownEmpty/DropdownEmpty.tsx
  frontend/src/features/meeting/components/dropdown/dropdownEmpty/dropdownEmpty.styled.ts
  frontend/src/features/meeting/components/dropdown/dropdownList/DropdownList.tsx
  frontend/src/features/meeting/components/dropdown/dropdownList/dropdownList.styled.ts
Labels: ✅ feat, FE

#165 [FE] feat: 로딩 페이지 구현
  frontend/assets/icon/logo-text-white.svg
  frontend/src/features/loading/components/baseLoading/BaseLoading.stories.ts
  frontend/src/features/loading/components/baseLoading/BaseLoading.styled.ts
  frontend/src/features/loading/components/baseLoading/BaseLoading.tsx
  frontend/src/features/loading/components/progressLoading/ProgressLoading.stories.ts
  frontend/src/features/loading/components/progressLoading/ProgressLoading.tsx
  frontend/src/features/loading/components/progressLoading/progressLoading.styled.ts
  frontend/src/features/loading/components/progressText/ProgressText.tsx
  frontend/src/features/loading/components/progressText/progressText.stories.ts
  frontend/src/features/loading/components/progressText/progressText.styled.ts
  frontend/src/features/loading/constant/loadingText.ts
  frontend/src/features/progressbar/components/progressbar/Progressbar.stories.ts
  frontend/src/features/progressbar/components/progressbar/Progressbar.styled.ts
  frontend/src/features/progressbar/components/progressbar/Progressbar.tsx
  frontend/src/features/progressbar/hooks/useProgress.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/logo/logo.stories.ts
Labels: ✅ feat, FE

#183 [FE] chore: CI에 테스트 및 커버리지 확인 추가
  .github/workflows/fe-ci.yml
Labels: FE, 🧹 chore

#171 [FE] feat: 지도 기능 구현 및 Context API 기반 상태 관리
  frontend/main.tsx
  frontend/src/entities/contexts/LocationsContext.tsx
  frontend/src/entities/contexts/LocationsProvider.tsx
  frontend/src/entities/contexts/useLocationsContext.ts
  frontend/src/entities/hooks/useLocations.test.tsx
  frontend/src/entities/hooks/useLocations.ts
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/map/hooks/useCustomOverlays.tsx
  frontend/src/features/map/lib/CustomOverlay.ts
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/meeting/constant/conditionCard.ts
  frontend/src/features/meeting/hooks/useFormInfo.ts
  frontend/src/mocks/LocationsMock.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/types/global.d.ts
Labels: ✅ feat, FE

#173 [FE] test: 스토리북 파일에 title 속성 값에 자동으로 경로가 지정되도록 설정
  frontend/.storybook/main.js
  frontend/src/features/meeting/components/conditionCard/conditionCard.stories.ts
  frontend/src/features/meeting/components/conditionSelector/conditionSelector.stories.ts
  frontend/src/features/meeting/components/departureInput/departureInput.stories.ts
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/pages/pages.stories.tsx
  frontend/src/shared/components/badge/badge.stories.ts
  frontend/src/shared/components/bottomButton/bottomButton.stories.ts
  frontend/src/shared/components/headerLogo/headerLogo.stories.ts
  frontend/src/shared/components/input/input.stories.ts
  frontend/src/shared/components/logo/logo.stories.ts
  frontend/src/shared/components/mapButton/mapButton.stories.ts
  frontend/src/shared/components/mapPoint/mapPoint.stories.ts
  frontend/src/shared/components/markerIndex/markerIndex.stories.tsx
  frontend/src/shared/components/spotItem/spotItem.stories.ts
  frontend/src/shared/components/startingSpotName/startingSpotName.stories.ts
  frontend/src/shared/components/startingSpotWrapper/startingSpotWrapper.stories.ts
  frontend/src/shared/components/tag/tag.stories.ts
  frontend/src/shared/components/textarea/textarea.stories.ts
Labels: 🧪 test, FE

#186 [FE] feat: index.html에 메타데이터 추가
  frontend/index.html
  frontend/webpack.config.js
Labels: ✅ feat, FE

#190 [FE] feat: indexPage 버튼 텍스트 수정
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
Labels: FE

#176 [BE] refactor: 모니터링 지표 개선
  backend/src/main/java/com/f12/moitz/common/config/MonitoringConfig.java
Labels: BE

#231 [BE] feat: 공공 API 예외 처리 기능 구현
  backend/src/main/java/com/f12/moitz/common/error/exception/ExternalApiErrorCode.java
  backend/src/main/java/com/f12/moitz/infrastructure/SubwayMapBuilder.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/odsay/SubwayCode.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/open/OpenApiClient.java
  backend/src/main/resources/station-map-backup.json
  backend/src/main/resources/station-map.json
  backend/src/test/java/com/f12/moitz/infrastructure/client/open/OpenApiClientTest.java
Labels: ✅ feat, BE

#209 [FE] feat: RouteCard에 route bar 퍼블리싱
  frontend/src/features/recommendation/components/routeCard/RouteCard.tsx
  frontend/src/features/recommendation/components/routeCard/routeCard.styled.ts
  frontend/src/features/recommendation/components/routeCardBar/RouteCardBar.tsx
  frontend/src/features/recommendation/components/routeCardBar/routeCardBar.stories.ts
  frontend/src/features/recommendation/components/routeCardBar/routeCardBar.styled.ts
  frontend/src/features/recommendation/components/routeSegment/RouteSegment.tsx
  frontend/src/shared/utils/getLineInfo.ts
Labels: ✅ feat, FE

#235 [FE] refactor: 신분당선으로 네이밍 수정
  frontend/src/entities/types/LineCode.ts
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/mocks/routeCardMock.ts
Labels: FE

#208 [FE] feat: 루트에서 전역 ErrorBoundary를 적용해 예상치 못한 렌더 예외를 제어
  frontend/main.tsx
  frontend/src/pages/fallBackPage/FallBackPage.tsx
  frontend/src/pages/fallBackPage/fallBackPage.styled.ts
  frontend/src/shared/error/ErrorBoundary.tsx
Labels: ✅ feat, FE

#242 [BE] feat: 추천 지역 설명 추가
  backend/build.gradle
  backend/src/main/java/com/f12/moitz/application/RateLimitService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationParallelTaskService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/adapter/SubwayRouteFinderAdapter.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendedLocationResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendedLocationsResponse.java
  backend/src/main/java/com/f12/moitz/application/port/LocationRecommender.java
  backend/src/main/java/com/f12/moitz/application/port/dto/ReasonAndDescription.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/common/config/RedisConfig.java
  backend/src/main/java/com/f12/moitz/common/config/WebMvcConfig.java
  backend/src/main/java/com/f12/moitz/common/filter/RateLimitFilter.java
  backend/src/main/java/com/f12/moitz/domain/RecommendCondition.java
  backend/src/main/java/com/f12/moitz/infrastructure/PromptGenerator.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/GeminiPlaceRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/GeminiPlaceRecommenderAsyncAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/LocationRecommenderAdapter.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/gemini/GoogleGeminiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/gemini/dto/RecommendationPlaceResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/gemini/dto/RecommendationsResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/gemini/dto/RecommendedLocation.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/gemini/dto/RecommendedLocationResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/perplexity/PerplexityClient.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/f12/moitz/application/RecommendationServiceTest.java
  backend/src/test/java/com/f12/moitz/infrastructure/client/gemini/GoogleGeminiClientTest.java
  backend/src/test/java/com/f12/moitz/infrastructure/client/perplexity/PerplexityClientTest.java
Labels: BE

#260 [BE] refactor: Json 형식 데이터 -> MongoDB로 마이그레이션
  backend/src/main/java/com/f12/moitz/common/filter/RateLimitFilter.java
  backend/src/main/resources/application.properties
Labels: BE

#238 [FE] style: BottomSheet 내부 글자 잘림 해결과 줄 간격 수정
  frontend/src/features/recommendation/components/bottomSheetDetail/bottomSheetDetail.styled.ts
  frontend/src/shared/components/spotItem/spotItem.styled.ts
Labels: FE, 💅 style

#222 [FE] feat: 바텀시트를 위 아래로 조절하면서 사이즈를 조절
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheetView/bottomSheetView.styled.ts
  frontend/src/features/recommendation/components/bottomSheetView/bottomSheetView.tsx
  frontend/src/shared/components/mapPoint/MapPoint.tsx
  frontend/src/shared/components/mapPoint/mapPoint.styled.ts
Labels: ✅ feat, FE

#262 fix: RouteCardDetail 컴포넌트의 key 경고 해결
  frontend/src/features/recommendation/components/routeCardDetail/RouteCardDetail.tsx
Labels: FE

#265 [FE] fix: 전체 추천 지점에 대한 글자 오타 수정
  frontend/src/features/map/components/map/Map.tsx
Labels: 🐛 fix, FE

#203 [FE] feat: 추천지 클릭 시 지도 위에 경로 표시 기능 추가
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/map/hooks/useCustomOverlays.tsx
  frontend/src/features/map/lib/CustomOverlay.ts
  frontend/src/shared/components/markerIndex/markerIndex.styled.ts
  frontend/src/types/global.d.ts
Labels: ✅ feat, FE

#282 [BE] chore: 환경 설정 수정
  backend/build.gradle
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application.properties
Labels: BE

#290 [BE] feat: Result 도메인 모델 구조 변경
  backend/src/main/java/com/f12/moitz/application/RateLimitService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationParallelTaskService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/domain/Candidate.java
  backend/src/main/java/com/f12/moitz/domain/Path.java
  backend/src/main/java/com/f12/moitz/domain/Place.java
  backend/src/main/java/com/f12/moitz/domain/Result.java
  backend/src/main/java/com/f12/moitz/domain/repository/RecommendResultRepository.java
  backend/src/main/java/com/f12/moitz/domain/repository/SubwayStationRepository.java
  backend/src/main/java/com/f12/moitz/infrastructure/PromptGenerator.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/PlaceRecommenderAdapter.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback-variable.properties
  backend/src/test/java/com/f12/moitz/application/RecommendationServiceTest.java
  backend/src/test/java/com/f12/moitz/domain/CandidateTest.java
  backend/src/test/java/com/f12/moitz/domain/PathTest.java
  backend/src/test/java/com/f12/moitz/domain/RecommendationTest.java
Labels: BE

#292 [BE] Dev -> Prod
  backend/src/main/java/com/f12/moitz/application/RateLimitService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationParallelTaskService.java
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/domain/Candidate.java
  backend/src/main/java/com/f12/moitz/domain/Path.java
  backend/src/main/java/com/f12/moitz/domain/Place.java
  backend/src/main/java/com/f12/moitz/domain/Result.java
  backend/src/main/java/com/f12/moitz/domain/repository/RecommendResultRepository.java
  backend/src/main/java/com/f12/moitz/domain/repository/SubwayStationRepository.java
  backend/src/main/java/com/f12/moitz/infrastructure/PromptGenerator.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/PlaceRecommenderAdapter.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback-variable.properties
  backend/src/test/java/com/f12/moitz/application/RecommendationServiceTest.java
  backend/src/test/java/com/f12/moitz/domain/CandidateTest.java
  backend/src/test/java/com/f12/moitz/domain/PathTest.java
  backend/src/test/java/com/f12/moitz/domain/RecommendationTest.java
Labels: BE

#309 [BE] feat: 결과 데이터 일정 기간 저장 후 만료 기능 추가
  backend/src/main/java/com/f12/moitz/MoitzApplication.java
  backend/src/main/java/com/f12/moitz/domain/Result.java
  backend/src/main/resources/application.properties
Labels: BE

#313 [BE] chore: DB Properties 분리
  backend/.gitignore
  backend/src/main/resources/application.properties
Labels: BE

#315 [BE] chore: CI/CD 환경 변수 추가
  .github/workflows/be-cicd-dev-auto-trigger.yml
  .github/workflows/be-cicd-dev.yml
  .github/workflows/be-cicd-prod-auto-trigger.yml
  .github/workflows/be-cicd-prod.yml
  backend/src/main/resources/application.properties
Labels: BE

#317 [BE] Dev -> Prod
  .github/workflows/be-cicd-dev-auto-trigger.yml
  .github/workflows/be-cicd-dev.yml
  .github/workflows/be-cicd-prod-auto-trigger.yml
  .github/workflows/be-cicd-prod.yml
  backend/.gitignore
  backend/src/main/resources/application.properties
Labels: BE
