Repository woowacourse-teams/2025-moitz, pull requests merged in 2025-09, with the labels that each got.

#320 [BE] fix: 잘못 설정된 모니터링 지표 namespace 수정
  backend/src/main/java/com/f12/moitz/common/config/MonitoringConfig.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-prod.properties
Labels: BE

#337 [FE] style: RouteCardBar 텍스트 깨짐 수정
  frontend/src/features/recommendation/components/routeCardBar/routeCardBar.styled.ts
Labels: FE

#352 [BE] feat: 추천 결과에 요청에서 사용한 추천 조건 필드 추가
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
  backend/src/main/java/com/f12/moitz/application/adapter/SubwayRouteFinderAdapter.java
  backend/src/main/java/com/f12/moitz/application/adapter/SubwayRouteFinderAsyncAdapter.java
  backend/src/main/java/com/f12/moitz/application/dto/MockRecommendationResponse.java
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationsResponse.java
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
  backend/src/main/java/com/f12/moitz/domain/Result.java
  backend/src/main/java/com/f12/moitz/ui/MockingRecommendationController.java
Labels: BE

#364 [공통] chore: 추가 commit에 대한 중복 리뷰 방지 옵션 활성화
  .coderabbit.yaml
Labels: 🧹 chore

#371 [BE] fix: 지하철 역 이름에 "이수"가 포함될 경우 검색 실패하는 오류 수정
  backend/src/main/java/com/f12/moitz/application/SubwayStationService.java
  backend/src/test/java/com/f12/moitz/application/SubwayStationServiceTest.java
Labels: BE

#350 [FE] style: 지하철 노선 이름 포맷 통일 및 공백 제거
  frontend/src/shared/types/LineCode.ts
Labels: FE

#382 [BE] fix: 404로 반환하지 않던 오류 수정
  backend/src/main/java/com/f12/moitz/application/dto/RecommendationRequest.java
  backend/src/main/java/com/f12/moitz/common/error/exception/BadRequestException.java
  backend/src/main/java/com/f12/moitz/common/error/exception/GeneralErrorCode.java
  backend/src/main/java/com/f12/moitz/common/error/exception/NotFoundException.java
  backend/src/test/java/com/f12/moitz/domain/RecommendConditionTest.java
Labels: 🐛 fix, BE

#386 [BE] fix: 404로 반환하지 않던 오류 수정
  backend/src/main/java/com/f12/moitz/application/RecommendationService.java
Labels: 🐛 fix, BE

#390 [BE] refactor: 추천 장소 NULL 방어 로직 추가
  backend/src/main/java/com/f12/moitz/application/utils/RecommendationMapper.java
Labels: ⚒️ refactor, BE

#392 [BE] refactor: 지하철 역 이름 변경
  backend/src/main/java/com/f12/moitz/application/SubwayStationService.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/open/OpenApiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/client/open/dto/utils/StationResponseDeserializer.java
  backend/src/test/java/com/f12/moitz/application/SubwayStationServiceTest.java
Labels: ⚒️ refactor, BE

#327 [FE] refactor: Progressbar 모션이 끝난 후 리다이렉트 되도록 수정
  frontend/src/entities/location/hooks/useLocations.test.tsx
  frontend/src/entities/location/hooks/useLocations.ts
  frontend/src/features/loading/components/baseLoading/BaseLoading.tsx
  frontend/src/features/loading/components/progressLoading/ProgressLoading.stories.ts
  frontend/src/features/loading/components/progressLoading/ProgressLoading.tsx
  frontend/src/features/meeting/components/meetingForm/MeetingForm.tsx
  frontend/src/features/progressbar/components/progressbar/Progressbar.styled.ts
  frontend/src/features/progressbar/hooks/useProgress.ts
  frontend/src/pages/components/indexPage/IndexPage.tsx
  frontend/src/pages/components/resultPage/ResultPage.tsx
Labels: ⚒️ refactor, FE

#385 [FE] fix: 사용하지 않는 역이름 제거
  frontend/src/features/meeting/config/stationList.ts
Labels: 🐛 fix, FE

#398 [BE] feat: 서킷브레이커 적용
  backend/build.gradle
  backend/src/main/java/com/f12/moitz/common/config/MonitoringConfig.java
  backend/src/main/java/com/f12/moitz/common/config/ResilienceConfig.java
  backend/src/main/java/com/f12/moitz/infrastructure/adapter/LocationRecommenderAdapter.java
  backend/src/main/resources/application.properties
Labels: ✅ feat, BE

#332 [FE] feat: 출발지 입력 시 후보 역이 1개라면, 역 이름을 전부 입력하지 않아도 Enter로 입력이 가능
  frontend/src/features/meeting/components/departureInput/DepartureInput.tsx
  frontend/src/features/meeting/utils/formValidation.ts
Labels: ✅ feat, FE

#400 [FE] feat: recommendations/{id} API 구조 변경
  frontend/src/entities/location/api/fetchRecommendationResult.ts
  frontend/src/entities/location/api/types/RecommendationResultAPI.ts
  frontend/src/entities/location/hooks/useLocations.test.tsx
  frontend/src/entities/location/hooks/useLocations.ts
  frontend/src/entities/location/types/Location.ts
  frontend/src/mocks/LocationsMock.ts
Labels: FE

#403 [FE] fix: ESLint indent 규칙과 Prettier 간의 들여쓰기 충돌 해결
  frontend/eslint.config.mjs
Labels: FE

#404 [FE] feat: SEO를 위한 robots.txt 설정
  frontend/assets/image/image-thumail.png
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/robots-dev.txt
  frontend/public/robots-prod.txt
  frontend/public/sitemap.xml
  frontend/webpack.common.js
Labels: ✅ feat, FE

#334 [FE] feat: 결과 페이지에 어떤 만남 조건을 선택 했는지 표시
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/bottomSheetList/BottomSheetList.tsx
  frontend/src/pages/components/resultPage/ResultPage.tsx
  frontend/src/shared/components/meetingWrapper/MeetingWrapper.tsx
  frontend/src/shared/components/meetingWrapper/meetingWrapper.stories.ts
  frontend/src/shared/components/meetingWrapper/meetingWrapper.styled.ts
  frontend/src/shared/components/startingSpotWrapper/StartingSpotWrapper.tsx
Labels: ✅ feat, FE
