Repository woowacourse-teams/2025-moitz, pull requests merged in 2025-07, with the labels that each got.

#2 [FE] chore: webpack 및 프로젝트 초기 설정
  frontend/.gitignore
  frontend/.gitkeep
  frontend/.husky/pre-commit
  frontend/.prettierrc
  frontend/.vscode/settings.json
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/main.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: FE

#14 [FE] style: 디자인 시스템 반영
  frontend/main.tsx
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/app/App.tsx
  frontend/src/shared/styles/GlobalStyle.tsx
  frontend/src/shared/styles/defaultTheme.ts
  frontend/src/shared/styles/reset.css
  frontend/src/shared/styles/styled.d.ts
  frontend/tsconfig.json
Labels: FE, 💅 style

#15 [FE] chore: eslint, pritter 환경설정
  frontend/.prettierrc
  frontend/.vscode/settings.json
  frontend/eslint.config.mjs
  frontend/main.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/app/App.tsx
  frontend/src/shared/styles/GlobalStyle.tsx
  frontend/src/shared/styles/defaultTheme.ts
  frontend/src/shared/styles/reset.css
  frontend/src/shared/styles/styled.d.ts
  frontend/tsconfig.json
Labels: FE, 🧹 chore

#18 [FE] chore: eslint, pritter 환경설정
  frontend/.prettierrc
  frontend/.vscode/settings.json
  frontend/eslint.config.mjs
  frontend/main.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: FE, 🧹 chore

#25 [FE] feat: 공통 컴포넌트 개발 - Component - InputPage (Input)
  frontend/src/shared/components/input/Input.tsx
  frontend/src/shared/components/input/input.stories.ts
  frontend/src/shared/components/input/input.styled.ts
  frontend/src/shared/components/textarea/Textarea.tsx
  frontend/src/shared/components/textarea/textarea.stories.ts
  frontend/src/shared/components/textarea/textarea.styled.ts
Labels: ✅ feat, FE

#35 [공통] feat: 라벨 자동 설정
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: FE, 🧹 chore

#39 [FE] feat: 공통 컴포넌트 개발 - Component - ResultPage (List)
  frontend/.storybook/preview.ts
  frontend/src/shared/components/badge/Badge.tsx
  frontend/src/shared/components/badge/badge.styled.ts
  frontend/src/shared/components/bottomButton/BottomButton.tsx
  frontend/src/shared/components/bottomButton/bottomButton.styled.ts
  frontend/src/shared/components/mapButton/MapButton.tsx
  frontend/src/shared/components/mapButton/mapButton.styled.ts
  frontend/src/shared/components/mapPoint/MapPoint.tsx
  frontend/src/shared/components/mapPoint/mapPoint.styled.ts
  frontend/src/shared/components/markerIndex/MarkerIndex.tsx
  frontend/src/shared/components/markerIndex/markerIndex.styled.ts
  frontend/src/shared/components/spotItem/SpotItem.tsx
  frontend/src/shared/components/spotItem/spotItem.stories.ts
  frontend/src/shared/components/spotItem/spotItem.styled.ts
  frontend/src/shared/components/tag/Tag.tsx
  frontend/src/shared/components/tag/tag.styled.ts
  frontend/src/shared/styles/default.styled.ts
Labels: ✅ feat, FE

#53 [FE] feat: 페이지 레이아웃 설정
  frontend/main.tsx
  frontend/src/app/App.tsx
  frontend/src/shared/components/layout/Layout.tsx
  frontend/src/shared/components/layout/layout.styled.ts
Labels: ✅ feat, FE

#54 [FE] feat: 라우팅 설정
  frontend/main.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/webpack.config.js
Labels: ✅ feat, FE

#60 [BE] feat: 장소 추천 기능 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/f12/moitz/application/LocationCalculator.java
  backend/src/main/java/com/f12/moitz/application/LocationService.java
  backend/src/main/java/com/f12/moitz/application/dto/LocationRecommendRequest.java
  backend/src/main/java/com/f12/moitz/application/dto/LocationRecommendResponse.java
  backend/src/main/java/com/f12/moitz/common/config/ClientConfig.java
  backend/src/main/java/com/f12/moitz/common/config/SwaggerConfig.java
  backend/src/main/java/com/f12/moitz/common/error/ErrorResponse.java
  backend/src/main/java/com/f12/moitz/common/error/GlobalExceptionHandler.java
  backend/src/main/java/com/f12/moitz/domain/Place.java
  backend/src/main/java/com/f12/moitz/domain/Point.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/BriefRecommendedLocationResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/LocationNameAndReason.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendationsResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/dto/RecommendedLocation.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/KakaoMapClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/dto/KakaoApiResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/kakao/dto/KakaoMapErrorResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/OdsayClient.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/OdsayErrorResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/OdsayRouteSearchResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/odsay/dto/SubwayRouteSearchResponse.java
  backend/src/main/java/com/f12/moitz/ui/LocationController.java
  backend/src/main/java/com/f12/moitz/ui/SwaggerLocationController.java
  backend/src/main/resources/application.properties
Labels: ✅ feat, BE

#62 [BE] chore: CI/CD workflow 스크립트 추가 수정
  .github/workflows/be-cicd-dev.yml
Labels: BE, 🧹 chore

#68 [BE] chore: CI/CD workflow 스크립트 내 path 수정
  .github/workflows/be-cicd-dev.yml
Labels: BE, 🧹 chore

#67 [BE] feat: CORS 전역 설정 추가
  backend/src/main/java/com/f12/moitz/common/config/WebMvcConfig.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
Labels: ✅ feat, BE

#70 feat: 결과 페이지 구현
  .vscode/settings.json
  frontend/index.html
  frontend/src/features/bottomSheet/BottomSheet.tsx
  frontend/src/features/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/bottomSheet/bottomSheet.styled.ts
  frontend/src/features/map/Map.tsx
  frontend/src/features/map/map.styled.ts
  frontend/src/features/spotItemList/SpotItemList.tsx
  frontend/src/features/spotItemList/spotItemList.stories.ts
  frontend/src/features/spotItemList/spotItemList.styled.ts
  frontend/src/mocks/spotItemListMock.ts
  frontend/src/mocks/startSpotNameListMock.ts
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/pages/resultPage/resultPage.styled.ts
  frontend/src/shared/components/spotItem/spotItem.styled.ts
  frontend/src/shared/components/startSpotName/startSpotName.stories.ts
  frontend/src/shared/components/startSpotName/startSpotName.styled.ts
  frontend/src/shared/components/startSpotName/startSpotName.tsx
  frontend/src/shared/components/startSpotWrapper/StartSpotWrapper.tsx
  frontend/src/shared/components/startSpotWrapper/startSpotWrapper.stories.ts
  frontend/src/shared/components/startSpotWrapper/startSpotWrapper.styled.ts
  frontend/src/shared/styles/default.styled.ts
  frontend/src/shared/types/nameInfo.ts
  frontend/src/shared/types/spotItem.ts
  frontend/src/types/global.d.ts
  frontend/tsconfig.json
Labels: ✅ feat, FE

#73 [FE] feat: IndexPage 구현
  frontend/src/features/bottomSheet/BottomSheet.tsx
  frontend/src/features/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/meeting/hooks/useMeetingInfo.ts
  frontend/src/features/meeting/lib/timeUtils.ts
  frontend/src/pages/indexPage/IndexPage.tsx
  frontend/src/pages/indexPage/indexPage.styled.ts
  frontend/src/pages/resultPage/ResultPage.tsx
  frontend/src/shared/components/BottomModal/BottomModal.tsx
  frontend/src/shared/components/BottomModal/bottomModal.styled.ts
  frontend/src/shared/components/bottomButton/BottomButton.tsx
  frontend/src/shared/components/bottomButton/bottomButton.stories.ts
  frontend/src/shared/components/headerLogo/headerLogo.stories.ts
  frontend/src/shared/components/headerLogo/headerLogo.styled.ts
  frontend/src/shared/components/headerLogo/headerLogo.tsx
  frontend/src/shared/components/input/Input.tsx
  frontend/src/shared/components/input/input.stories.ts
  frontend/src/shared/components/logo/Logo.tsx
  frontend/src/shared/components/logo/logo.stories.ts
  frontend/src/shared/components/tag/Tag.tsx
  frontend/src/shared/components/tag/tag.styled.ts
  frontend/src/shared/components/textarea/Textarea.tsx
  frontend/src/shared/styles/default.styled.ts
  frontend/src/widgets/meeting/components/planForm/PlanForm.tsx
  frontend/src/widgets/meeting/components/planForm/planForm.styled.ts
  frontend/src/widgets/meeting/components/planForm/planFormTitle/PlanFormTitle.tsx
  frontend/src/widgets/meeting/components/planForm/planFormTitle/planFormTitle.styled.ts
  frontend/src/widgets/meeting/components/timePickBottomModal/TimePickBottomModal.tsx
  frontend/src/widgets/meeting/components/timePickBottomModal/timePickBottomModal.styled.ts
  frontend/src/widgets/meeting/components/timePickBottomModal/wheelPicker/WheelPicker.tsx
  frontend/src/widgets/meeting/components/timePickBottomModal/wheelPicker/wheelPicker.styled.ts
Labels: ✅ feat, FE

#75 [BE] fix: 간헐적으로 출발지와 동일한 장소를 추천해주는 버그 수정
  backend/src/main/java/com/f12/moitz/application/LocationService.java
  backend/src/main/java/com/f12/moitz/application/dto/LocationRecommendResponse.java
  backend/src/main/java/com/f12/moitz/infrastructure/gemini/GoogleGeminiClient.java
Labels: BE

#78 feat: 필수 필드 제약 조건 제거
  backend/src/main/java/com/f12/moitz/application/dto/LocationRecommendRequest.java
Labels: BE

#84 [FE] chore: emotion 스타일 적용을 위한 jsxImportSource 일괄 적용
  frontend/.storybook/main.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/components/badge/Badge.tsx
  frontend/src/shared/components/bottomButton/BottomButton.tsx
  frontend/src/shared/components/input/Input.tsx
  frontend/src/shared/components/mapButton/MapButton.tsx
  frontend/src/shared/components/mapPoint/MapPoint.tsx
  frontend/src/shared/components/markerIndex/MarkerIndex.tsx
  frontend/src/shared/components/tag/Tag.tsx
  frontend/src/shared/components/textarea/Textarea.tsx
  frontend/src/types/emotion.d.ts
Labels: FE, 🧹 chore

#86 [FE] refactor: ResultPage 프로젝트 폴더 구조를 FSD로 변경
  frontend/src/features/map/components/map/Map.tsx
  frontend/src/features/map/components/map/map.styled.ts
  frontend/src/features/recommendation/components/bottomSheet/BottomSheet.tsx
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.stories.ts
  frontend/src/features/recommendation/components/bottomSheet/bottomSheet.styled.ts
  frontend/src/features/recommendation/components/spotItemList/SpotItemList.tsx
  frontend/src/features/recommendation/components/spotItemList/spotItemList.stories.ts
  frontend/src/features/recommendation/components/spotItemList/spotItemList.styled.ts
  frontend/src/pages/resultPage/ResultPage.tsx
Labels: ⚒️ refactor, FE
